<IfModule mod_rewrite.c>
  RewriteEngine On

  # Handle authorization header
  RewriteCond %{HTTP:Authorization} .
  RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

  # Send requests to index.php
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteRule ^(.+) index.php?d=$1 [L]
</IfModule>
